@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


html,body,#root{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5{
	font-weight: 300;
}

.primaryWhiteFont{
	color: #e3e3e3;	
}

.primaryBlackFont{
	color: #717171;	
}

.fullHeight{
	min-height: 100%;
}


/*==============================
=            Navbar            =
==============================*/

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
	padding-bottom: 10px;
	border-bottom: #ddd 5px solid;
	background: #f7f7f7;
	color: #000;	

}

/* hamburger line color */
.navbar-default .navbar-toggle .icon-bar{
    background-color: #aaa;
}

/* hamburger container */
button.navbar-toggle{
	border: none;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	margin-top: 9px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover{
	background: #eee;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
}

/*=====  End of Navbar  ======*/




/*=============================
=            Index            =
=============================*/


.IndexCardLeftOverlay{
	height: 100%;
	widows: 100%;
	background: rgb(0,0,0);
	opacity: 0.2;
	transition: all 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);

}

.IndexCardRightOverlay{
	height: 100%;
	widows: 100%;
	background: rgb(0,0,0);
	opacity: 0.2;
	transition: all 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

.IndexCardLeftOverlay:hover{
	transition: all 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	opacity: 0.5;
	clip-path:  polygon(0 0, 80% 0, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

.IndexCardRightOverlay:hover{
	transition: all 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	opacity: 0.5;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}


/*=====  End of Index  ======*/




/*=============================================
=            Projects-Label Button            =
=============================================*/

.label-default,  /*for C++*/
.btn-default.selected
{ background: #5397cc; color: #fff;}

.all,
.all.btn-default.selected
{ background: #673fb4; }

.html,
.html.btn-default.selected
{ background: #e86534; color: #fff;}

.css,
.css.btn-default.selected
{ background: #1790d1; color: #fff;}

.javascript,
.javascript.btn-default.selected
{ background: #f6dd3b; color: #555; }

.design,
.design.btn-default.selected
{ background: #ff9000; color: #fff;}

.reactjs,
.reactjs.btn-default.selected
{ background: #66daf8; color: #fff;}

.jquery,
.jquery.btn-default.selected
{ background: #1469e8; color: #fff;}

.meteorjs,
.meteorjs.btn-default.selected
{ background: #de5050; color: #fff;}

.p5js,
.p5js.btn-default.selected
{ background: #ed225d; color: #fff;}


.btn-default{ 
	background: #fff; /*for C++*/
	color: #888;
	border: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	
	transition: all .5s;
	-webkit-transition: all .5s;
} 

.btn-default:hover,
.btn-default:focus{ 
	background: #fff; /*for C++*/
	color: #333;
	border: none;	
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	transition: all .5s;
	-webkit-transition: all .5s;
}

.btn-default:focus{
	outline: none !important;
}
/*=====  End of Projects-Label Button  ======*/



/*======================================
=            Projects-Modal            =
======================================*/


/*----------  vertically center modal  ----------*/
/* reference: https://codepen.io/dimbslmh/full/mKfCc */

.modal {
	text-align: center;
	padding: 0!important;
}

.modal:before {
	content: '';
	display: inline-block;	
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.modal-content{
	border-radius: 5px;
}

/*----------  End of vertically center modal  ----------*/

.carousel-inner{
	height: 300px;
	/*max-height: 200px;*/
}

.carousel-inner .item img{
	object-fit: cover;
	height: 100%;
}

.carousel-inner .item{
	object-fit: cover;
	height: 100%;
}


/*=====  End of Projects-Modal  ======*/

